<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287375133768-ebm94uatfpcmrnrupt0u54o2244o3u5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287375133768-ebm94uatfpcmrnrupt0u54o2244o3u5a</string>
	<key>API_KEY</key>
	<string>AIzaSyDudmcQuk_Q00TxtfIznzzJcmyY2j5jk8c</string>
	<key>GCM_SENDER_ID</key>
	<string>287375133768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>awesome-99947</string>
	<key>STORAGE_BUCKET</key>
	<string>awesome-99947.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287375133768:ios:4de852612db0c9d1a11c7d</string>
</dict>
</plist>